<!DOCTYPE html>
<html>
    <head>
        <title>Reservation Arragner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="nav-bar">
                <div id="logo">Logo</div>
                <div id="app_title" class="black text-md">Hostel Reservation Arranger</div>
            </div>
            <hr>
            <div id="main-title" class="black text-lg">Upload A Reservation Sheet</div>
            <div id="description" class="gray text-md"><p>Drop the raw booking export (.xlsx or .csv).</p></div>
            <div id="card">
                <form action="/process" method="post" enctype="multipart/form-data">
                    <div id="upload-box">
                        <input id="upload-file" type="file" name="file" accept=".xlsx, .csv" required/>
                    </div>
                    <div id="btn">
                        <button class="btn text-md black" type="submit" id="submit-btn">
                            Arrange reservations
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>